
/* mobile dvices responsive */

@media screen and (max-width:576px){

    .nav-container,
    .banner-container,
    .banner-tow-container{
      flex-direction: column;
      margin-bottom: 30px;
           
    }

    

    .nav-logo,
    .banner-text-content,
    .banner-img-section,
    .img-container,
    .tow-context-text{
        
        width: 100%;
       justify-content: center;
       
    }

    .tow-context-text{
        margin-top: 10px;
    }

    .nav-context-container{
        flex-direction: column;
        width: 100%;
        justify-content: center;
        
      
        
    }


}




@media screen and  (min-width:576px) and (max-width:876px){

    .nav-container,
    .banner-container,
    .banner-tow-container{
      flex-direction: column;
              
    }

    

    .nav-logo,
    .banner-text-content,
    .banner-img-section,
    .img-container,
    .tow-context-text{
        
        width: 100%;
        justify-content: center;
       
    }

    .nav-context-container{
        flex-direction: column;
        width: 100%;
        justify-content: center;
       
    }
    .logo-content-text{
       
        width: 50%;
        margin: 0 auto;
     }

     .tow-context-text{
        margin-top: 10px;
     }

     
.know-more-btn{
    margin-left: 700px;
  
}


}



