
/* mobile dvices responsive */

@media screen and (max-width:576px){

    .nav-container,
    .banner-container,
    .banner-tow-container,
    .Downloads-container{
      flex-direction: column;
      margin-bottom: 30px;
           
    }

    .Play-Games-cotainer{
        flex-direction: column;
    }

    .careers-container{
        flex-direction: column;
     }

    

    .nav-logo,
    .banner-text-content,
    .banner-img-section,
    .img-container,
    .tow-context-text,
    .Downloads-text-context,
    .Play-Games-img-cotainer,
    .careers-text-context,
    .careers-img-container{
        
        width: 100%;
       justify-content: center;
       
    }

    .tow-context-text,
    .Downloads-img-container,
    .careers-img-container{
        margin-top: 10px;
    }

    .nav-context-container{
        flex-direction: column;
        width: 100%;
        justify-content: center;
        
      
        
    }

    .grid-card-container{

        grid-template-columns: 1fr;
       
    
    }

    .Downloads-img-container{
        
        width:100%;
       
       
    }
    .Downloads-img{
        bottom: -50px;
        left:40px;
    }

    .small-img{
        width: 118px;
        height: 165px;
        position: absolute;
        right: -20px;
        bottom:-100px;
      }
   
    .Play-Games-text-context{
       
        width: 100%;
        margin-left: 10px;
        padding-left: 10px;
        margin-top: 100px;
       
     }

    


}




@media screen and  (min-width:576px) and (max-width:876px){

    .nav-container,
    .banner-container,
    .banner-tow-container,
    .Downloads-container{
      flex-direction: column;
              
    }

    

    .nav-logo,
    .banner-text-content,
    .banner-img-section,
    .img-container,
    .tow-context-text,
    .Downloads-text-context{
        
        width: 100%;
        justify-content: center;
       
    }

    .nav-context-container{
        flex-direction: column;
        width: 100%;
        justify-content: center;
       
    }
    .logo-content-text{
       
        width: 50%;
        margin: 0 auto;
     }

     .tow-context-text{
        margin-top: 10px;
     }

     
.know-more-btn{
    margin-left: 700px;
  
}

.grid-card-container{
   
    grid-template-columns: repeat(2, 1fr);
   

}

.Downloads-img-container{
        
    width:100%;
    
   
   
}
.Downloads-img{
    bottom: -50px;
    left:330px;
}


}



