
*{
    box-sizing: border-box;
}


.nav-container{
    border: 1px solid green;
    max-width: 1250px;
    margin: 0 auto;
    display: flex;

    

}

.nav-logo{
    border: 1px solid red;
    width: 50%;
    display: flex;
    align-items: center;
   
}

.nav-context-container{
    display: flex;
    width: 50%;
    justify-content: end;
    gap: 20px;
    align-items: center;
  
    
}

.logo-info{
    font-size: 40px;
    color:#0B0223;
    font-weight: 700;
    margin: 0px;
}

.nav-context-container a{
    text-decoration: none;
    font-size: 18px;
    color:#3C354F;
    font-weight: 500;

}

.logo-container{
   
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px;

    display: flex;
    align-items: center;
    gap: 10px;
}