@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Work+Sans:wght@400;500;600;700;800;900&display=swap');


*{
    box-sizing: border-box;
}

body{
    font-family: 'Work Sans', sans-serif;
}


.nav-container{
    border: 1px solid green;
    max-width: 1250px;
    margin: 0 auto;
    display: flex;

    

}

.nav-logo{
    border: 1px solid red;
    width: 50%;
    display: flex;
    align-items: center;
   
}

.nav-context-container{
    display: flex;
    width: 50%;
    justify-content: end;
    gap: 20px;
    align-items: center;
  
    
}

.logo-info{
    font-size: 40px;
    color:#0B0223;
    font-weight: 700;
    margin: 0px;
}

.nav-context-container a{
    text-decoration: none;
    font-size: 18px;
    color:#3C354F;
    font-weight: 500;

}

.logo-container{
   
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px;

    display: flex;
    align-items: center;
    gap: 10px;
}

/* banner section style start here */
    .banner-container{
        border: 1px solid rebeccapurple;
        max-width: 1250px;
        margin: 10px auto;
        display: flex;
    }

    .banner-text-content{
        width: 50%;
        border:1px solid #0B0223;
        background-image: url("../images/group-14.png");
        background-size: cover;
       
    }

    .banner-img-section{
        width: 50%;
        border:1px solid blue;
    }

    .banner-img-section img{
        width: 100%;
    }
    .h3{
        color: #0B0223;
        font-size: 48px;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 0;
        

    }
    .liner-gradient{
        text-align: center;
        font-size: 95px;
        font-weight: 800;
        line-height: normal;
        text-transform: uppercase;
        margin: 0;
        

        background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent
    }

    .logo-content-text{
       margin-bottom: 0px;
    }
    .logo-content-text{
       
       width: 60%;
       margin: 0 auto;
    }

      .logo-text{
        display: flex;
        align-items: center;
        gap: 5px;
      }
 
 .banner-button-container{
    display: flex;
    gap: 7px;
 }

 .Sign-in{
    background-color: #FF42A5;
    padding: 10px 20px;
    border-radius: 50px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
 }
 .go-rogue{
    background-color: #4EC5F7;
    padding: 10px 20px;
    border-radius: 50px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
 }


/* banner section styles end here */


/* banner tow section desgin start here */

.banner-tow-container{
    max-width: 1250px;
    margin: 0 auto;
    border: 1px solid black;
    display: flex;
    
  

}

.img-container{
    width: 60%;
    border:1px solid #F948B2;
}
.img-container img{
    width: 100%;
}

.tow-context-text{
    width: 40%;
    border:1px solid red;
    padding-right: 5px;
   
   
}

.tow-context-text-title{

        text-align: right;
        font-size: 47px;
        font-weight: 700;
        margin: 0;
        background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent

}

.tow-context-text-des{
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
}



.know-more-btn{
    display: inline-flex;
    margin-top: 0;
    padding: 11px 20px;
    align-items: flex-end;
    gap: 10px;
    margin-left: 350px;
    border-radius: 48px;
    background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
    color: #FFF;

    
}

.unleash-text{

    color: #534C64;

text-align: right;

font-size: 24px;

font-weight: 500;
line-height: 45px; 
}




/* banner tow section desgin start end */