@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Work+Sans:wght@400;500;600;700;800;900&display=swap');


*{
    box-sizing: border-box;
}

body{
    font-family: 'Work Sans', sans-serif;
}


.nav-container{
    
    max-width: 1250px;
    margin: 0 auto;
    display: flex;

    

}

.nav-logo{

    width: 50%;
    display: flex;
    align-items: center;
   
}

.nav-context-container{
    display: flex;
    width: 50%;
    justify-content: end;
    gap: 20px;
    align-items: center;
  
    
}

.logo-info{
    font-size: 40px;
    color:#0B0223;
    font-weight: 700;
    margin: 0px;
}

.nav-context-container a{
    text-decoration: none;
    font-size: 18px;
    color:#3C354F;
    font-weight: 500;

}

.logo-container{
   
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px;

    display: flex;
    align-items: center;
    gap: 10px;
}

/* banner section style start here */
    .banner-container{
       
        max-width: 1250px;
        margin: 10px auto;
        display: flex;
    }

    .banner-text-content{
        width: 50%;
        
        background-image: url("../images/group-14.png");
        background-size: cover;
       
    }

    .banner-img-section{
        width: 50%;
       
    }

    .banner-img-section img{
        width: 100%;
    }
    .h3{
        color: #0B0223;
        font-size: 48px;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 0;
        

    }
    .liner-gradient{
        text-align: center;
        font-size: 95px;
        font-weight: 800;
        line-height: normal;
        text-transform: uppercase;
        margin: 0;
        

        background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent
    }

    .logo-content-text{
       margin-bottom: 0px;
    }
    .logo-content-text{
       
       width: 60%;
       margin: 0 auto;
    }

      .logo-text{
        display: flex;
        align-items: center;
        gap: 5px;
      }
 
 .banner-button-container{
    display: flex;
    gap: 7px;
 }

 .Sign-in{
    background-color: #FF42A5;
    padding: 10px 20px;
    border-radius: 50px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
 }
 .go-rogue{
    background-color: #4EC5F7;
    padding: 10px 20px;
    border-radius: 50px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
 }


/* banner section styles end here */


/* banner tow section desgin start here */

.banner-tow-container{
    max-width: 1250px;
    margin: 0 auto;
   
    display: flex;
    
  

}

.img-container{
    width: 60%;
   
}
.img-container img{
    width: 100%;
}

.tow-context-text{
    width: 40%;
    padding-right: 5px;
   
   
}

.tow-context-text-title{

        text-align: right;
        font-size: 47px;
        font-weight: 700;
        margin: 0;
        background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent

}

.tow-context-text-des{
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
}



.know-more-btn{
    display: inline-flex;
    margin-top: 0;
    padding: 11px 20px;
    align-items: flex-end;
    gap: 10px;
    margin-left: 350px;
    border-radius: 48px;
    background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
    color: #FFF;

    
}

.unleash-text{

    color: #534C64;

text-align: right;

font-size: 24px;

font-weight: 500;
line-height: 45px; 
}




/* banner tow section desgin start end */


/* img-card section desgin start here */

.Online-Games-tittle{
    max-width: 1250px;
    margin: 70px auto;
    text-align: center;
}

.online-tittle{
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    
}
.online-tittle-gradient{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.online-tittle-des{
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
}

.grid-card-container{
    max-width: 1250px;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

}

.card-one img{
 width: 100%;
}

.img-text-des{
    text-align: left;
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px
}

/* img-card section desgin end here */

/* 
Downloads sction desgin start here  */

.Downloads-container{
    max-width: 1250px;
    margin: 0 auto ;
    display: flex;
    align-items: center;
    
}

.Downloads-text-context{
    width: 50%;
    margin: 0;

}

.Downloads-tittle{
   
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    margin: 0;
}

.Downloads-tittle-gradient{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}

.Downloads-des{
    color: #534C64;
    
    margin: 0;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.Downloads-img-container{
    text-align: end;
    width:50%;
    position: relative;
   
}

.Downloads-img-container img{
   
    width: 434.833px;
    height: 350px;
}

.Downloads-img{
    position: absolute;
    bottom: -50px;
    left:110px;
}

.Downloads-img img{
    width: 150px;
    height: 150px;
}

/* Downloads sction desgin end here  */

/* Play Games sction desgin start here */
  .Play-Games-cotainer{
    max-width: 1250px;
    margin: 70px auto;
    display: flex;
  }

  .Play-Games-img-cotainer{
    width: 50%;
    position: relative;
  }
  .Play-Games-img-cotainer img{
        width: 90%;
  }

  .small-img{
    width: 318px;
    height: 365px;
    position: absolute;
    right: -130px;
    bottom:-150px;
  }
 
 .Play-Games-text-context{
    width: 426px;
    margin-left: 100px;
    padding-left: 20px;
   
 }

 .play-tittle{
    
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
 }

.play-tittle-gradient{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-des{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
}
/* Play Games sction desgin end here */

/* Careers banner section desgin start here */

  .careers-box{
    background: linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%);
   }
  .careers-container{
   max-width: 1250px;
   margin: 150px auto;
   display: flex;
   padding: 10px;
  }

  .careers-text-context{
    width: 50%;
    padding-bottom: 50px;


  }
  .h1{
      
    color: #FFF;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;

  }

  .p{
    
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: justify;
  }


  .text-container{
    display: flex;
  }

   .text-left{
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
    width: 50%;
   }

   .text-right{
    color: #FFF;
    text-align: right;
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
    width: 50%;
   }




  .careers-img-container{
    width: 50%;

  }

  .careers-img-container img{
     width: 100%;
  }

  .careers-btn{
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
     background-color: #FFF;
     width: fit-content;
     padding: 10px 20px;
     border-radius: 48px;
    color: #FF42A5;

  }




/* Careers banner section desgin end here */

/* logo section desgin start here */
   .wrap-cotainer{
    max-width: 1250px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
   
    
   }
   .logo-container{
      display: flex;
    background-color: #FFF;
      
   }

   .logo-img-contaner{
    border-radius: 50px;
   }
   .logo-info{
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;
   }

   

/* logo section desgin end here */

footer{
    background: #0B0223;
    text-align: center;
}

.footer-context{
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
    
   }

   .footer-logo-tittle{
    display: inline-flex;
    align-items: center;
    
   }
  .gamer{
    font-size: 45px;
    font-weight: 700;
    color: #FFF;
  }

  .ganer-g{
    color: #FF42A5;
  }
   .text-context{
    display: grid;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    
    grid-template-columns: repeat(6, 1fr);
    
   
   }

   .footer-logo{
    font-size: 50px;
    
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    align-items: center;
     
   }

   .footer-sort-info{

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
      color: rgba(255, 255, 255, 0.60); 
      font-size: 16px;
      font-weight: 500;
     justify-content: center;
     align-items: center;

   }

   .copy{
         color: rgba(255, 255, 255, 0.60);
         text-align: center;
        font-size: 16px;
        font-weight: 500;
        padding-bottom: 30px;
        
   }

